etc/geocaches.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
  * Copyright (c) 2001  Dustin Sallings <dustin@spy.net>
  * 
  * $Id: geocaches.dtd,v 1.3 2001/06/14 09:36:13 dustin Exp $
  -->

<!ELEMENT geocaches (origin?,point*)>
<!-- A point somewhere -->
<!ELEMENT point (pointid,name,description,created,terrain,difficulty,creatorid,
		longitude,latitude,country,waypoint,distance?,bearing?,direction?)>
<!-- Describes the origin point, the point from which distances are
	measured  -->
<!ELEMENT origin (longitude,latitude)>
<!-- Latitude and longitude are in decimal, west and south are negative -->
<!ELEMENT longitude (#PCDATA)>
<!ELEMENT latitude (#PCDATA)>
<!-- ISO 2 letter country code -->
<!ELEMENT country (#PCDATA)>
<!-- The unique ID of the point -->
<!ELEMENT pointid (#PCDATA)>
<!-- The name of the point -->
<!ELEMENT name (#PCDATA)>
<!-- Description of the point -->
<!ELEMENT description (#PCDATA)>
<!-- Date the point was created:  YYYY-MM-DD HH:MM:SS.ms -->
<!ELEMENT created (#PCDATA)>
<!-- Terrain, float 1-5 -->
<!ELEMENT terrain (#PCDATA)>
<!-- Difficulty, float 1-5 -->
<!ELEMENT difficulty (#PCDATA)>
<!-- ID of the user who created this -->
<!ELEMENT creatorid (#PCDATA)>
<!-- Autogenerated waypoint ID -->
<!ELEMENT waypoint (#PCDATA)>
<!-- If an origin point is given, this will be the distance in miles to
	the origin -->
<!ELEMENT distance (#PCDATA)>
<!-- If an origin point is given, this will be the direction to the point
	from the origin in degrees -->
<!ELEMENT bearing (#PCDATA)>
<!-- If an origin point is given, this will be the direction to the point
	from the origin in  -->
<!ELEMENT direction (N|S|E|W|NE|NW|SE|SW|NNE|NNW|ENE|ESE|SSW|SSE|WSW|WNW)>
